#image-box {
  height: 280px;
  width: 280px;
  border: 1px solid orange;
  display: flex;
  position: relative;
  border-radius: 5px;
}

#image {
  height: 280px;
  width: 280px;
  position: relative;
  pointer-events: none;
  user-select: none;
  -webkit-user-drag: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.scaling {
  pointer-events: none;
}
