.point {
  width: 10px;
  height: 10px;
  border: solid 2px;
  border-radius: 50%;
  position: absolute;
  cursor: move;
  z-index: 1;
  box-sizing: border-box;
}

#point1 {
  border-color: red;
}

#point2 {
  border-color: blue;
}

#point3 {
  border-color: green;
}

.color-selector {
  position: absolute;
  top: -30px;
  left: -20px;
  z-index: 5;
}
