#preset-menu {
  height: 150px;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 5px;
}
.preset {
  background-color: rgb(21, 24, 27);
  height: 30%;
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  color: orange;
  gap: 10px;
  transition: 0.1s ease-in-out;
  cursor: pointer;
}
.preset:hover {
  transform: scale(1.05);
}
.preset:active {
  background-color: orange;
  color: black;
  transform: scale(0.9);
}
.selected {
  background-color: orange;
  color: black;
}
